@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


.logo-box{
    position: absolute;
    background-color: rgb(78, 164, 214);
    margin: 0;
    height: 35vh;
    width: 100vw;
    top:0%;
    left:0%;
}

.p1{
    font-size: 120px;
    line-height: 120px;
    position: absolute;
    top: -50%;
    left: 6.8%;
    color: rgb(255, 255, 255);
}

pre{
    font-size: 130px;
    line-height: 130px;
    position: absolute;
    top: -12%;
    left: 1.5%;
    color:yellow
}

.p2{
    font-size: 25px;
    line-height: 25px;
    position: absolute;
    top: -3%;
    left: 57%;
    color:black;
}

.mapa{
    position: absolute;
    top: 63px;
    left:76%;
}

.navbar p{
    transform: translate(60px);
}
.box .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .4s ease;
}

.box{
    width: 65px;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 5px calc(58px) 1px 5px;
    margin: 0.6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease;
    top: 50px;
    left: 56%;
}

.box:hover{
    width: 200px;
    background: #c32aa3;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 0 50px #b315917c;
}


.box:nth-child(2):hover{
    background: #25d366;
    box-shadow: 0 0 50px #25d3657e;
}

.box:hover .icon{
    background: #fff;
    color: #3b3b3b;
    box-shadow: 0 0 20px rgba(0,0,0,0.26);
}

.instagram{
    background-color: #c32aa3;
}
.whatsapp{
    background-color: #25d366;
}





















